extends layout

block content
  .container-fluid
    if messages.error
      .alert.alert-danger(role='alert')
        for error in messages.error
          div= error.msg
    if messages.success
      .alert.alert-success(role='alert')
        for success in messages.success
          div= success.msg
    if messages.info
      .alert.alert-info(role='alert')
        for info in messages.info
          div= info.msg

    .row.col-md-8.col-md-offset-2
      each item in books
        .col-md-3
          .thumbnail
            a(href='/book/#{item._id}')
              img(src='#{item.cover}', alt="#{item.title}")
            .caption
              h5 #{item.title}
              p: a.btn.btn-sm.btn-info(href="/book/#{item._id}", role="button") 详情
